.App {
  text-align: center;
}
.popup-background {
  top: 0px;
  position: absolute;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 5;
}
.top-menu {
  width: 100vw;
  height: auto;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
}
h1 {
  margin: 0px;
}
p {
  margin: 0px;
  font-size: 17px;
}
.meetup-logo {
  background-image: url('./img/meetup-logo.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 44px;
  width: 125px;
  list-style-type: none;
  margin: 12px 15px;
}
.title-section {
  background-color: rgb(0, 70, 93);
  width: 100vw;
  height: 193px;
  color: #fff;
  font-size: 18px;
}
.main-title {
  padding-top: 30px;
  letter-spacing: 0.05px;
}
.subtitle-title {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 14px;
}
.black-search-section {
  width: 960px;
  height: 68px;
  background-color: #000;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 38px;
  position: relative;
  z-index: 6;
}
.filter-section {
  font-weight: 600;
  float: left;
  margin-top: 24px;
}
.miles-filter {
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.55);
  cursor: pointer;
  transition: border-bottom 200ms;
}
.miles-filter:hover {
  border-bottom: 1px solid #fff;
}
.city-filter {
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.55);
  cursor: pointer;
  transition: border-bottom 200ms;
}
.city-filter:hover {
  border-bottom: 1px solid #fff;
}
.event-searchbar {
  float: left;
  width: 265px;
  height: 40px;
  margin: 13px 13px;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  padding-left: 10px;
}
.event-searchbar:focus {
  outline: none;
}